<!DOCTYPE html>
<html>
  <head>
    <title>HabitBreaker</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

    <script>
        function addDay() {
          console.log("click");
          x = document.getElementById('gd').value;
          console.log(x);
        }
    </script>

  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
